name: Test

on: 
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: macOS-13
    env:
      DEVELOPER_DIR: /Applications/Xcode_15.0.1.app/Contents/Developer

    steps:
    - uses: actions/checkout@v1
    - name: Run iOS tests
      run: make test-ios
    - name: Run tvOS tests
      run: make test-tvos
